{% extends "_base.twig" %}

{% block wrap %}
    <h1 class="wp-heading-inline">{{ _e('List of Clubs', 'eventus') }}</h1>
    <hr class="wp-header-end">
    {{ notice }}
    {% if not allClubs %}
        <h2>{{ _e('Please add a club first...', 'eventus') }}</h2>
    {% endif %}
    <div class="eventusCardList">
        <h2></h2>
        <div>
            {% for club in allClubs %}
                <div class="eventusCard eventusCardClub">
                    <img class="card-img-top" alt="Club" src="{{ club.img }}" />
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ club.details.getName()|toProperText }}
                        </h5>
                        <div>
                            <a class="button-primary ico ico-club" href='admin.php?page=eventus_club&action=club&clubId={{club.details.getId()}}'>
                                {{  _e('Club', 'eventus') }}
                            </a>
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        {{  _e('ID : ', 'eventus') }}
                        <b>{{ club.infos.club_id}}</b>
                        {{ _e('/ Teams : ', 'eventus') }}
                        <b>{{ club.infos.teamsNbr}}</b>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <a class='button-primary ico ico-add' href='admin.php?page=eventus_club&action=club' type='button'>{{ _e('Add a club', 'eventus') }}</a>
{% endblock %}
