{# <p>{{ _e('Find below the information related to the management of Eventus teams and clubs.', 'eventus') }}</p>

<hr> #}

<div class="eventus-row">
    <div>
        <h3>
            <b>{{ _e('Team(s): ', 'eventus') }}{{ nbr_teams }}</b>
        </h3>
        <a class="button-primary ico ico-team" href='admin.php?page=eventus'>{{ _e('See the team(s)', 'eventus') }}</a>
    </div>
    <div>
        <h3>
            <b>{{ _e('Club(s): ', 'eventus') }}{{ nbr_clubs }}</b>
        </h3>
        <a class="button-primary ico ico-club" href='admin.php?page=eventus_club'>{{ _e('See the club(s)', 'eventus') }}</a>
    </div>
    <div>
        <h3>
            <b>{{ _e('Logs: ', 'eventus') }}{{ nbr_logs }}</b>
        </h3>
        <a class="button-primary ico ico-info" href='admin.php?page=eventus_logs'>{{ _e('See the logs', 'eventus') }}</a>
    </div>
</div>

<hr/>

<div class="eventus-row">
    <div>
        <h3>
            <b>{{ _e('Last synchronization of matches: ', 'eventus') }}</b><br>
            {{ last_sync }}
        </h3>
        <form action="{{ adminPostUrl }}" method="post">
            <div class="myTooltip">
                <button class="button-primary ico ico-sync" name="action" onclick="window.eventus.setLoading(this)" type="submit" value="eventus_syncMatch">
                    {{ _e('Synchronize match data', 'eventus') }}
                </button>
                <span class="myTooltiptext">
                    {{ _e('Saves & synchronizes match data with the Federation website.', 'eventus') }}
                </span>
            </div>
        </form>
    </div>
</div>

<hr>

<div>
    <p>
        <b>{{ plugin_data.Name }}</b>
        (v.
        <b>{{ plugin_data.Version }}</b>)
        {{ _e('by', 'eventus') }}
        <a target="_blank" href="{{ plugin_data.AuthorURI }}">
            {{ plugin_data.AuthorName }}
        </a>
        -
        <a href="https://github.com/KirianCaumes/eventus" target="_blank">
            GitHub
        </a>
    </p>
    {# <p>
        {{ _e('In case of problems, several ways to contact me are available on my website or via my GitHub.', 'eventus') }}
    </p> #}
</div>
